html
    {
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
body
    {
        margin: 0;
    }
h1
    {
        font-size: 40px;
    }
p
    {
        margin: 0;
    }
hr
    {
        width: 50%;
        border: 1px solid orange;
    }
/* Agenda */
/* Header */
.Hagenda
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 35vh;
        border-bottom: 1px solid black;
        background-color: rgb(255, 255, 255);
    }
.Hagenda nav
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60%;
        background-color: rgb(172, 172, 172);
    }
/* hover fleche */
.Hagenda nav a #HaGhover
    {
        display: none;
    }
.Hagenda nav a #HaDhover
    {
        display: none;
    }
.Hagenda a:hover #HaGhover
    {
        display: block;
    }
.Hagenda a:hover #HaDhover
    {
        display: block;
    }
.Hagenda a:hover #HaG
    {
        display: none;
    }
.Hagenda a:hover #HaD
    {
        display: none;
    }
.Hagenda section
    {
        display: flex;
        justify-content: center;
        font-style: italic;
        height: 40%;
    }
/* Main */
.Magenda
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background:linear-gradient(grey,60%, orange)
    }
.Magenda a #flecheGhover
    {
        display: none;
    }
.Magenda a #flecheDhover
    {
        display: none;
    }
.Magenda a:hover #flecheGhover
    {
        display: block;
    }
.Magenda a:hover #flecheDhover
    {
        display: block;
    }
.Magenda a:hover #flecheG
    {
        display: none;
    }
.Magenda a:hover #flecheD
    {
        display: none;
    }
thead
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
thead tr
    {
        display: flex;
        width: 100%;
    }
thead th
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
table
    {
        display: flex;
        flex-direction: column;
        width: 95%;
        border: 1px solid black;
        border-spacing: 0;
        margin-top: 5vh;
        border-radius: 20px;
        background:linear-gradient(white, 70%, black)
    }
.jours th:not(#vide)
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-radius: 20px;
        border: 1px solid blueviolet;
        background-color: rgb(165, 95, 3);
    }
tbody
    {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
tbody h2
    {
        margin:0;
    }
tbody a
    {
        text-decoration: none;
        color: black;
    }
tbody a:hover
    {
        color: white;
    }
#vide
    {
        border: none;
    }
tbody tr td:nth-child(1) /*colonne heure*/
    {
        background-color: #D8D8D7;
        border: 1px solid black;
    }
td
    {
        text-align:center;
        border: 1px solid red;
        width: 150px;
        height: 10vh;
        border-radius: 20px;
        background-color: white;
    }
.bouton
    {
        margin-top: 5vh;
        margin-bottom: 10vh;
        border-radius: 10px;
        outline: none;
    }
.bouton a
    {
        text-decoration: none;
        color: black;
    }
#boutonA
    {
        width: 10vw;
        height: 8vh;
    }
/* class evenement */
.Travail
    {
        background-color: rgb(105, 180, 109);
        border: 1px solid rgb(2, 18, 255);
    }
.Loisir
    {
        background-color: paleturquoise;
        border: 1px solid rgb(255, 251, 2);
    }
.Sport
    {
        background-color: plum;
        border: 1px solid rgb(2, 255, 44);
    }
.optionT
    {
        display: none;
    }
.optionT:target
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        height: 50vh;
        width: 50vw;
        background-color: rgb(105, 180, 109);
        border: 1px solid rgb(2, 18, 255);
        border-radius: 20px;
    }
.optionL
    {
        display: none;
    }
.optionL:target
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        height: 50vh;
        width: 50vw;
        background-color: paleturquoise;
        border: 1px solid rgb(255, 251, 2);
        border-radius: 20px;
    }
.optionS
    {
        display: none;
    }
.optionS:target
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        height: 50vh;
        width: 50vw;
        background-color: plum;
        border: 1px solid rgb(2, 255, 44);
        border-radius: 20px;
    }
.optionT h2, .optionS h2, .optionL h2
    {
        text-decoration: underline;
        text-underline-position: under;
    }
/* Form */
#Hform
    {
        display: flex;
        flex-direction: column;
        height: 35vh;
        justify-content: center;
        align-items: center;
    }
#Hform nav
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
#Hform a
    {
        text-decoration: none;
        color: black;
    }
#Hform a:hover
    {
        color: orange;
    }
#Mform
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgb(49, 47, 47), 70%, green)
    }
#Mform a    
    {
        text-decoration: none;
    }
form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 120vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
        border: 1px solid black;
        background-color: rgba(128, 128, 128, 0.637);
    }
form section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.DF
    {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-around
    }
form h2
    {
        margin-bottom: 0;
        text-decoration: underline;
        text-underline-position: under;
    }
input:focus, textarea:focus
    {
        background-color: orange;
    }
/* Footer */
footer
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        border-top: 1px solid black;
    }
footer nav  
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
footer a
    {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        font-size: 20px;
    }
footer a:hover
    {
        color:#FFB300;
    }
footer a #flecheFGhover
    {
        display: none;
    }
footer a #flecheFDhover
    {
        display: none;
    }
footer a:hover #flecheFGhover
    {
        display: block;
    }
footer a:hover #flecheFDhover
    {
        display: block;
    }
footer a:hover #flecheFG
    {
        display: none;
    }
footer a:hover #flecheFD
    {
        display: none;
    }
footer a #logoblanc
    {
        display: none;
    }    
footer a:hover #logoblanc
    {
        display: block
    }
footer a:hover #logonoir
    {
        display: none;
    }
